.bg-pink{
  background-color: #e03d84;
}
.bg-green{
  background-color: #4BE8DE;
}
.txt-pink{
  color:#e03d84;
  font-weight: bold;
  font-size:x-small;
}
.txt-green{
  color: #4BE8DE;
  font-weight: bold;
  font-size: smaller;

}
