.bg-green{
  background-color: #4BE8DE;
}
.txt-green{
  color: #4BE8DE;
  font-weight: bold;
  font-size: smaller;

}

/* Aplicar el mismo fondo que About Us */
body {
  background-color: #9CAF88;
}

/* Revertir el cambio de posición fija del footer */
/* Eliminar las propiedades de posición fija del footer */
footer {
  width: 100%;
  z-index: 10;
}

/* Eliminar referencias al color rosa */
/* Eliminado el fondo y texto rosa */
