<div class="container-fluid border-top bg-dark text-white" data-bs-theme="dark">
  <footer class="py-3 my-4">
    <p class="nav justify-content-center pb-3 mb-1 txt-green">
      DISCLAIMER: Este es un sitio web ficticio creado para un proyecto para el curso de "Desarrollo de Aplicaciones Web" de la FP PROGRESA FORMACIÓN.
    </p>
    <p class="nav justify-content-center border-bottom pb-3 mb-3 txt-pink">
      EL CONTENIDO DE ESTE SITIO WEB ES MERAMENTE ILUSTRATIVO Y CON FINES DE APRENDIZAJE.
    </p>
    <p class="text-center txt-green">© 2024</p>
  </footer>
</div>
