/* Eliminar referencias al color rosa */
/* Eliminado el fondo rosa */
.txt-green{
  color: #4BE8DE;
  font-weight: bold;
}

/* Aplicar el mismo fondo que About Us */
body {
  background-color: #9CAF88;
}
