<div class="container-fluid text-white navbar" style="background-color: inherit;">
  <header class="d-flex justify-content-around py-5">
    <a href="#" class="d-flex align-items-center mb-2 text-white text-decoration-none">
      <h1 class="fs-4 navbar-title">Massawina e li Milanesi</h1>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" class="nav-link bg-pink text-white" aria-current="page">HOME</a></li>
      <li class="nav-item"><a routerLink="/jugador" class="nav-link txt-green">POPO</a></li>
      <li class="nav-item"><a routerLink="/jugadores" class="nav-link txt-green">CATALOGO</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link txt-green">ABOUT</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link txt-green">CONTACTO</a></li>
      <li class="nav-item"><a routerLink="/payment" class="nav-link txt-green">PAGO</a></li>
      <li class="nav-item"><a routerLink="/register" class="nav-link txt-green">REGISTRO</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link txt-green">LOGIN</a></li>
    </ul>
  </header>
</div>
<router-outlet />
