.bg-green {
  background-color: #4BE8DE;
}

.txt-green {
  color: #4BE8DE;
  font-weight: bold;
  font-size: smaller;
}

.navbar-title {
  font-size: 1.5rem; /* Tamaño más pequeño */
  color: #007a33; /* Color similar al footer */
  font-family: 'Klarissa', Arial, sans-serif; /* Fuente del footer */
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-right: 20px; /* Reducir el margen izquierdo */
}

/* Cambiar el color de fondo del navbar al color arenoso del footer */
.navbar {
  background-color: #EDC9AF !important; /* Color arenoso del footer */
  position: relative;
  z-index: 1000; /* Mayor prioridad */
  padding-left: 130px; /* Añadir relleno a la izquierda */
}

/* Cambiar el color del texto del navbar */
.navbar .nav-link {
  color: black !important; /* Todo el texto excepto el título principal será negro */
}

/* Cambiar el estilo del enlace activo en el navbar para que no se subraye y tenga el color del fondo de la página */
.nav-link.active {
  text-decoration: none;
  font-weight: bold;
  color: #9CAF88 !important; /* Mismo color que el fondo de la página */
  background-color: #9CAF88 !important; /* Fondo global */
  color: white !important; /* Contraste para visibilidad */
  border-radius: 5px; /* Opcional: para un diseño más atractivo */
}

/* Aplicar el mismo fondo que About Us */
body {
  background-color: #9CAF88;
}
