<div class="container-fluid text-white navbar" style="background-color: inherit;">
  <header class="d-flex justify-content-around py-5">
    <a href="#" class="d-flex align-items-center mb-2 text-white text-decoration-none">
      <h1 class="fs-4 navbar-title">Massawina e li Milanesi</h1>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">HOME</a></li>
      <li class="nav-item"><a routerLink="/jugador" routerLinkActive="active" class="nav-link">POPO</a></li>
      <li class="nav-item"><a routerLink="/jugadores" routerLinkActive="active" class="nav-link">CATALOGO</a></li>
      <li class="nav-item"><a routerLink="/about" routerLinkActive="active" class="nav-link">ABOUT</a></li>
      <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" class="nav-link">CONTACTO</a></li>
      <li class="nav-item"><a routerLink="/payment" routerLinkActive="active" class="nav-link">PAGO</a></li>
      <li class="nav-item"><a routerLink="/register" routerLinkActive="active" class="nav-link">REGISTRO</a></li>
      <li class="nav-item"><a routerLink="/login" routerLinkActive="active" class="nav-link">LOGIN</a></li>
    </ul>
  </header>
</div>
<router-outlet />
