/* You can add global styles to this file, and also import other style files */

/* Cambié el color del texto a negro */

:root {
  --color-secundario: #f0f8e2;
}

body {
  background-color: var(--color-secundario);
  color: #000000; /* Texto negro */
}
