.bg-green{
  background-color: #4BE8DE;
}
.txt-green{
  color: #4BE8DE;
  font-weight: bold;
}
.activelinkhome{
  background-color:black;
  border-bottom: #e03d84 2px solid;
}

/* Aplicar el mismo fondo que About Us */
body {
  background-color: #9CAF88;
}

/* Eliminar referencias al color rosa */
/* Eliminado el fondo, texto y bordes rosas */
