<div class="container d-flex justify-content-between flex-wrap flex-column">

  <!-- Removed all content except the page structure -->
  <div>
    <h1>Nuestro lado Italiano</h1>

    <h2>Entrantes</h2>
    <ul>
      <li>Tabla de embutidos importados de Italia, con una focaccia - 13.00€</li>
      <li>Tabla de quesos italianos D.O.P., con una focaccia - 13.00€</li>
      <li>Tabla de un poco de todo, con una focaccia - 15.00€</li>
    </ul>

    <h2>Las Pizzas Clásicas</h2>
    <ul>
      <li>CAPRICCIOSA: Tomate - Mozzarella - York - Champiñones - Olivas - Alcachofa - 11.00€</li>
      <li>4QUESOS: Mozzarella - Queso Brie - Emmental - Gorgonzola - 11.00€</li>
      <li>CALZONE: Tomate - Mozzarella - Champiñones - York - 11.00€</li>
      <li>CONTADINA: Tomate - Mozzarella - Champiñones - York - 11.00€</li>
      <li>DIAVOLA: Tomate - Mozzarella - Spianatta Piccante - 11.00€</li>
      <li>MARGHERITA: Tomate - Mozzarella - 10.00€</li>
      <li>PROSCIUTTO: Tomate - Mozzarella - York - 11.00€</li>
      <li>VEGETARIANA: Tomate - Mozzarella - Verduras de temporada - 12.00€</li>
      <li>ALEGRA: Tomate - Mozzarella - Cherry - Rúcula - Parmigiano - 12.00€</li>
      <li>BUFALA: Tomate - Mozzarella di Bufala D.O.P. - 11.00€</li>
    </ul>

    <h2>Las Nuestras</h2>
    <ul>
      <li>CALZ. LORENZO: Tomate - Mozzarella - York - Salami - Alcachofa - Champiñones - 13.00€</li>
      <li>LA CASINO: Mozzarella - Brie - Emmental - Gorgonzola - York - Champiñones - 13.00€</li>
      <li>LA PIAZZA: Tomate - Mozzarella - Scamorza Salchicha - Rúcula - Cherry - Parmigiano - 14.00€</li>
      <li>LA FRESCA: Tomate - Mozzarella - Cherry - Rúcula - Parmigiano - Bufala - 14.00€</li>
      <li>LA MILANESA: Mozzarella - Crema de nueces - Cotoletta - Cherry - Aceite Trufado - 15.00€</li>
      <li>LA BEAGLE: Patatas - Mozzarella - Bacon - Pecorino Romano - 14.00€</li>
      <li>LA TIROLESE: Tomate - Gorgonzola - Speck - Cherry - Parmigiano - 14.00€</li>
      <li>LA GOLOSA: Mozzarella - Burrata - Mortadella - Cherry - Crema de Pistacho - 15.00€</li>
      <li>LA GOURMET: Tomate - Mozzarella - Berenjena - Miel - Balsámico - Parmigiano - 15.00€</li>
      <li>IMBROGLIONA: Como el girano le pide al pizzaiolo - 15.00€</li>
    </ul>

    <h2>Las Marinas</h2>
    <ul>
      <li>TONNO: Tomate - Mozzarella - Atún - Cebolla morada - Olivas - 11.00€</li>
      <li>SALMON: Nata - Mozzarella - Salmón ahumado - Eneldo - 12.50€</li>
      <li>NAPOLI: Tomate - Mozzarella - Anchoas - Alcaparras - 12.00€</li>
    </ul>

    <h2>Postres</h2>
    <ul>
      <li>PIZZA NUTELLA: Scorciacata de nutella entre masa de pizza con virutas - 8.00€</li>
      <li>PANACOTTA: Postre hecho con nata y crema de chocolate o frambuesas - 5.00€</li>
      <li>TIRAMISU: El tradicional y casero - 6.00€</li>
    </ul>

    <p>BUON APPETITO!!</p>
  </div>

</div>
